* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rounded Mplus 1c";
    font-weight: 300;
}

body.index {
    background: #fff url(Images/image1.jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.background {
    height: 140px;
    width: 100%;
    position: absolute;
    top: 0;
    /*
    background: #93E6EA url(Images/image2.jpg) no-repeat
    center; */
    background-color: #007be0;
    background-size: cover;
    background-attachment: fixed;
    z-index: -100;
}

.heading {
    padding: 40px 0 10px 0;
    text-align: center;
}

.heading p {
    font-size: 40px;
    color: #fff;
}

.heading img {
    height: 40px;
    width: 40px;
    padding-bottom: 30px;
}


.time {
    padding: 30px;
    /*border-bottom: solid 1px #5ba0ef;*/
}

.time p {
    font-size: 22.5px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#sidebar_index {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 244px;
    position: absolute;
}

#sidebar_ticket {
    position: fixed;
    bottom: 30px;
    left: 0px;
    padding: 10px 10px 0px 0px;
    background-color: rgba(255, 255, 255, 0.9);
}

#sidebar_index ul {
    position: fixed;
    bottom: 30px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.underbar {
    width: 120px;
    height: 10px;
    transition: 0.4s;
    margin-top: 5px;
}

body.index .underbar {
    background-color: rgba(255, 255, 255, 0.1);
}

body.ticket .underbar {
    /*background-color: #93E6EA;*/
    background-color: #007be0;
}

body.ticket .ticket_bar {
    width: 244px;
}

a.home:hover+.home_bar,
a.ticket:hover+.ticket_bar,
a.access:hover+.access_bar,
a.content:hover+.content_bar,
a.event:hover+.event_bar {
    width: 244px;
}

a.home:hover,
a.ticket:hover,
a.access:hover,
a.content:hover,
a.event:hover {
    letter-spacing: 2px;
}

a.home,
a.ticket,
a.access,
a.content,
a.event {
    transition: 0.5s;
}

#sidebar_index ul li a {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#sidebar_ticket ul li a {
    color: /*#3C3C3C*/ #001329;
    font-weight: 300;
}

.sidebar ul li a {
    margin-left: 15px;
    font-size: 17px
}

.sidebar ul li {
    margin-bottom: 20px;
}

.container_ticket {
    background-color: rgb(255, 255, 255);
    padding-top: 1px;
}

.container_ticket h3 {
    margin-left: 400px;
    font-family: "Rounded Mplus 1c";
    font-weight: 300;
    font-size: 25px;
    padding-left: 10px;
    border-left: solid 7px /*#93E6EA*/　#007be0;
    margin-top: 50px;
    color: #001329;
}

.container_ticket table.fee {
    text-align: center;
    width: 45%;
    padding: 25px;
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 100px;
    border: solid 2px /*#93E6EA*/ #007be0;
}

table.fee,
table.fee td {
    border-collapse: collapse;
}

body.ticket table td {
    font-family: "Rounded Mplus 1c";
    font-weight: 300;
    font-size: 20px;
    padding: 20px;
}

table.fee td {
    border-bottom: solid 2px /*#93E6EA*/ #007be0;
}

table.fee td:nth-of-type(odd) {
    border-bottom: solid 2px #fff;
    background-color: /*#93E6EA*/ #007be0;
    color: #fff;
}

table.fee tr:last-child td {
    border: none;
}

table.buy {
    margin-top: 20px;
    margin-left: 400px;
    width: 45%;
    text-align: center;
    margin-bottom: 35px;
    border-collapse: separate;
    border-spacing: 1em;
}

table.buy td {
    border: solid 2px /*#93E6EA*/ #007be0;
    margin-right: 30px;
    background: linear-gradient(to top, #fff 50%, /*#93E6EA*/ #007be0 50%);
    background-size: 100% 200%;
    background-position: left bottom;
    transition: all 0.5s ease;
}

table.buy td:hover {
    background-position: left top;
}

table.buy td a {
    color: /*#3C3C3C*/ #001329;
    position: relative;
}

table.buy td a:before {
    content: attr(data-hover);
}

table.buy td a:after {
    content: attr(data-hover);
    color: #fff;
    position: absolute;
    left: 0;
    height: 0;
    transition: height 0.21s;
    transition-delay: 0.0755s;
    overflow: hidden;
    white-space: nowrap;
}

table.buy td:hover a:after {
    height: 100%;
}
